$crait-color : #c0392b;
$novice-color : blue;
$intermediate-color : green;
$expert-color : purple;
$hover-text-color: white;
$hover-text-color-2: black;
$landing-form-color: #ffffffa6;
$disable-text: gray;
$robotic-text: 'Share Tech Mono', monospace;


.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://media.giphy.com/media/nEfs1tRuKsXxm/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $landing-form-color;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}

.landing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.name-input,
.quote-input {
  font-size: 2em;
  border: none;
  border-radius: 5px;
  margin: 10px;
  width: 110%;
}

.submit-btn {
    text-decoration: none;
    font-size: 2em;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    background: white;
    color: black;
    font-family: $robotic-text;
  &:hover {
    background: $crait-color;
    color: $hover-text-color;
    background-color: rgb(246, 78, 78);
    cursor: pointer;
    box-shadow: 
      0 0 20px 5px rgb(245, 68, 68),  
      0 0 35px 15px #e00202, 
      0 0 55px 25px rgb(187, 26, 26); 
    border: none;
    font-weight: bold;
  }
  &:disabled {
    background: $landing-form-color;
    color: $disable-text;
    box-shadow: none;
    font-weight: 100;
    cursor: crosshair;
  }
}

.btn {
  @extend .submit-btn;
  font-size: 24px;
}

.novice-btn:hover {
  background: $novice-color;
  background-color: rgb(176, 196, 243);
    cursor: pointer;
    box-shadow: 
      0 0 20px 5px rgb(70, 67, 233),  
      0 0 35px 15px blue, 
      0 0 55px 25px rgb(44, 98, 245);
    border: none;
    color: $hover-text-color-2;
    font-weight: bold;
}

.intermediate-btn:hover {
    background: $intermediate-color;
    background-color: #EAFCEB;
    cursor: pointer;
    box-shadow: 
      0 0 20px 5px #EAFCEB,  
      0 0 35px 15px #337F23, 
      0 0 55px 25px #69A267; 
    border: none;
    color: $hover-text-color-2;
    font-weight: bold;
  }

.expert-btn:hover {
    background: $expert-color;
    background-color: rgb(205, 163, 245);
    cursor: pointer;
    box-shadow: 
      0 0 20px 5px rgb(141, 48, 228),  
      0 0 35px 15px #330033, 
      0 0 55px 25px rgb(71, 19, 114); 
    border: none;
    color: $hover-text-color-2;
    font-weight: bold;
  }

.welcome-crait {
  color: $crait-color;
  font-size: 5em;
  margin: 20px;
  font-family: $robotic-text;
}


