.scroll-text {
  background-image: url('https://wallpaperfm.com/img/original/3/5/2/16842.jpg');
  // height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  margin: 0px 20px;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 2em;
  p {
    margin-bottom: 10px;
  }
  h3 {
    font-size: 2em;
    margin: 10px;
  }
}

.star-wars {
  display: flex;
  height: 100px;
  perspective: 400px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 400%;
  font-weight: 600;
  letter-spacing: -4px;
  line-height: 160%;
  text-align: justify;
}

.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
  }

.crawl {
  position: relative;
  top: -100px;
//   transform-origin: 50% 100%;
  animation: crawl 60s linear;
  left: 1em;
}

@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}