.App {
  text-align: center;
  background-image: url('https://viajento.files.wordpress.com/2016/10/salar-de-uyuni-bolicc81via-deserto.jpg?w=640');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

